%button {
//   margin: 20px auto 40px auto;
  @include borders('pill');
  background-color: $brand-purple;
  color: $brand-white;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  text-decoration: none;
  
  
  &:hover {
    text-decoration: none;    
    background-color: $brand-dark-purple;    
  }
}

.btn, input[type="submit"] {
  @extend %button;
}

%button-white {
  border:1px solid $brand-purple;
  color: $brand-purple;
  background: #fff;
  
  &:hover {
    background: $brand-dark-purple;
    color: $brand-white;
  }
}

.btn-white {  /* legacy */
  @extend %button-white;
}
