.not-home .fc-text-content {
  
    @media #{$breakpoint-md-up} {	
    	@include row();  
    	@include col(10);
    	@include col-offset(sm,1);
    }
  //  padding-top: 20px;
//     padding-bottom: 30px;
    margin-bottom: 10px;
    @media #{$breakpoint-sm-dn} {
	    padding-bottom: 30px;
	    padding-top: 20px;
    }

/*
    &--white { background-color: $brand-white; }
    &--light-gray { background-color: $brand-light-gray; }
    &--light-blue { background-color: $brand-blue; }
    &--dark-blue { background-color: $brand-dark-blue; }
    &--light-green { background-color: $brand-light-green; }
    &--dark-green { background-color: $brand-dark-green; }
*/

    &__container {
        @include row();
    }

    &__inner {
        @include col();
        @media #{$breakpoint-xs-only} {
	        margin-left: 0;
	        margin-right: 0;
        }
    }

    &__title {
        & + .fc-text-content__content {
//             margin-top: 30px;
        }
    }

    &__content {
        margin: 0px auto;
        text-align: left;

        column-count: 1;
        column-gap: 40px;

        > p:first-child {
            margin-top: 0px;
        }
    }
}