.fc-two-columns {
  width: 100%;
    @media #{$breakpoint-md-up} {

        margin-bottom: 10px;

        &__inner {
            @include row();
        }
        
        &__left,
        &__right {
            @include col();
            margin-left: 0px;
            margin-bottom: 0px;

            > section {
                margin-left: 0px;
                margin-bottom: 0px;
                background-color: transparent;
            }
            
            h2 {
              text-align: left;
            }
        }

        &__left {
            padding-right: 30px;
        }

        &__right {
            padding-left: 30px;
        }
    }
}
